fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
pydantic-settings==2.5.2

sqlalchemy==2.0.35
psycopg[binary]==3.2.2
pgvector==0.3.4

sentence-transformers==3.1.1
openai==1.50.2
httpx==0.27.2

pypdf==5.0.1
python-docx==1.1.2
python-multipart==0.0.12
pytesseract==0.3.13
Pillow==10.4.0
pdf2image==1.17.0

boto3==1.35.24
alembic==1.13.3
